/* reset do CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Deixar unidades fixas apenas para o body*/
body{
    background-image: linear-gradient(to top, silver, white 10%, whitesmoke);
    background-size: 100vw 100vh;
    height: 100vh;
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
  }

  /*Se a tela tiver pelo menos 300 px, vai carregar estes estilos*/
  @media (min-width:600px) and (orientation: landscape) {
    body{
      font-size: 8px;
    }
  }

  @media (min-width:800px) and (orientation: landscape) {
    body{
      font-size: 10px;
    }
  }

  @media (min-width:1000px) and (orientation: landscape) {
    body{
      font-size: 15px;
    }
  }
  
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://brunomian.github.io/site/css/teste1.jpg");
  background-size: 100vw 100vh;
  object-fit: cover;
}

  @media orientation: portrait {
    header {
        background-image: url("https://brunomian.github.io/site/css/foto2.jpg");
        background-size: 100vw 100vh;
    }
  }

  .menu{
    background-color: whitesmoke;
    position: fixed;
    width: 80vw;
    border-radius: 8px;
    box-shadow: 0 0 32px ;
    top: 0px;
    z-index: 1;
  }

  .menu ul{
    display: flex;
    justify-content: space-around;
    padding: 3px;
    margin: 3px;
  }

  .menu li{
    list-style:none;
  }

  .menu a{
    display: block;
    padding: 10px 20px;
    transition: background-color 1s,color 2s;
  }

  .menu a:active,
  .menu a:hover{
    background-color: lightgray;
    border-radius: 8px;
    color: red;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    color: red;
    text-decoration: underline;
  }

  
  .title{
    transform: scale(0.2) translate(50vh);
    opacity: 0;
    animation: ease 2s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo{
    to {
      transform: scale(1) translate(0);
      opacity: 1;
    }
  }
  .site-subtitle,
  .site-title{
    color:white;
    text-align: center;
  }
  
  .site-title{
    font-size: 4em;
  }
  .site-subtitle{
    font-style: italic;
    font-size: 3em;
    line-height: 2.5em;
  }
  .sobre,
  .contato,
  .projetos{
    padding: 4em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .sobre h2,
  .contato h2,
  .projetos h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: black;
    margin-bottom: 0.5em;
  }

  @media (min-width:300px) and (orientation: portrait) {
    .sobre h2,
    .contato h2,
    .projetos h2{
      font-size: 2em;
      color: black;
      margin-bottom: 0.5em;
    }
  }

  @media(min-width:1200px) and (orientation: landscape) {
  .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  }

  .sobre .avatar{
    float: right;
    margin-left: 2em;
  }

  .sobre .avatar img{
    /*border-radius: 50%;*/
    clip-path: circle(40%);
    height: 200px;
    width: 240px;
  }

  .sobre a{
    color: SteelBlue;
  }

  .sobre p{
    color: black;
    text-indent: 1.2em;
    margin-bottom: 1.4em;
    text-align: justify;
    font-family: 'Caveat', cursive;
    font-size: 1.8em;
  }

  @media (min-width:300px) and (orientation: portrait) {
    .sobre p {
      font-size: 1.5em;
    }
  }

  .projetos p{
    color: black;
    text-indent: 1.2em;
    margin-bottom: 1.4em;
    text-align: center;
    font-size: 2em;
  }

  .projetos .grid{
    display: flex;
    overflow-x: auto;
    align-items: center;
    padding: 6em;
  }

  @media (min-width:600px) and (orientation: landscape){
    .projetos .grid{
      align-content: center;
      justify-content: flex-start;
      height: calc(70vh - 6em - 48px);
      overflow-x: auto;
    }
  }

  
  @media (min-width:700px) and (orientation: landscape) {
    .projetos .grid{
      align-content: center;
      justify-content: flex-start;
      height: calc(60vh - 6em - 48px);
      overflow-x: auto;
    }
  }

  @media (min-width:800px) and (orientation: landscape) {
    .projetos .grid{
      align-content: center;
      justify-content: flex-start;
      height: calc(80vh - 6em - 48px);
      overflow-x: auto;
    }
  }

  @media (min-width:1000px) and (orientation: landscape) {
    .projetos .grid{
      align-content: center;
      justify-content: flex-start;
      height: calc(80vh - 6em - 48px);
      overflow-x: auto;
    }
  }

  @media (min-width:300px) and (orientation: portrait) {
    .projetos .grid{
      align-content: center;
      justify-content: flex-start;
      height: calc(80vh - 6em - 48px);
      overflow-x: auto;
    }
  }

  .projetos figure {
    text-align: center;
  }

  @media (min-width:300px) and (orientation: portrait) {
    figcaption{
      font-size: 0.8em;
    }
  }


  .img-projetos:hover{
    transform: scale(1.2) rotate(-2deg);
  }

  .img-projetos{
    height: 7em;
    width: 7em;
    object-fit: cover;
    transition: 500ms;
  }

  @media (min-height:300px) and (orientation: portrait) {
    .img-projetos{
      height: 10em;
      width: 10em;
      object-fit: cover;
      transition: 500ms;
    }
  }
  

  .contato a {
    color: SteelBlue;
    font-size: 10em;
    padding: 20px;
    transition: text-shadow 1s;
  }
  
  @media (min-width:300px) and (orientation: portrait) {
    .contato a {
      font-size: 8em;
    }
  }

  .contato a:active,
  .contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  }

  .contato .icons{
    text-align: center;
  }
